
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o CONCEJ 18</h3>
            <p class="text-justify about_ecej" >O ConCEJ, Congresso Catarinense de Empresários Juniores, é o encontro imersivo que reúne anualmente o MEJ Catarinense em um só lugar, com o objetivo de capacitar, inspirar e transformar os empresários juniores. <br><br> Sua última edição ocorreu em 2015, mas nesse ano,

            </p>

           
            <p class="text-justify about_ecej" ><br>
           O gigante está de volta.  <br><br> <h1 align="center">CONCEJ 18: Fica Ligado! </h1></p>
            </br>
             
            <span class="mailbox-read-time pull-right">31 de maio. 2018 13:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/EGEJ2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:coord.admfin@fejers.org.br" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
