
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o EGEJ 18</h3>
            <p class="text-justify about_ecej" >Questionamos o nosso impacto. Olhamos ao nosso redor. Olhamos para nós mesmos. Passamos a viver mais conscientes, mais questionadores. Mas ainda não é o suficiente. <br><br>Movimento Empresa Júnior Gaúcho nunca se destacou tanto quanto nos últimos dois anos e, por isso, em 2018 precisamos fazer ainda mais. Precisamos assumir a responsabilidade, entender que devemos fazer agora, que devemos fazer antes. O tema do EGEJ 18 surge da necessidade de pensarmos no tempo. De sermos urgentes e tomarmos a frente. <br><br>

            </p>

           
            <p class="text-justify about_ecej" ><br>
           Urgência, responsabilização, protagonismo. Com esses três pilares vamos conduzir o maior EGEJ da História. Um questionamento para mudar o ano do Movimento Empresa Júnior. O peso de chegarmos lá.  <br><br> <h1 align="center">EGEJ 18: Quanto tempo falta?</h1></p>
            </br>
             
            <span class="mailbox-read-time pull-right">08 de julho. 2018 22:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/EGEJ2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:coord.admfin@fejers.org.br" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
