<!-- Content Header (Page header) -->
<!-- <section class="content-header">
   <h1>
     Pace page
     <small>Loading example</small>
   </h1>
   </section>-->
<!-- Main content -->
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <!-- Profile Image -->
         <div class="box box-primary">
          <div class="box-body">
            <h3 class="text-center">Sobre o EGEJ 17</h3>
            <p class="text-justify about_ecej" >O Movimento Empresa Júnior Gaúcho nunca foi tão grande, em 2016 alcançamos resultados memoráveis, onde nossa rede obteve a vivência empresarial de forma intensa e plena. Entretanto, percebemos em 2017 com o avanço do cenário político, econômico e o social que o país precisa de nós. <br><br>O tema do EGEJ 17 emerge dessa realidade, surge de um urgente senso de desconstrução que nossa rede precisa sofrer, para tomarmos consciência do potencial que o nosso impacto tem de gerar de transformações. 
</p>

           
            <p class="text-justify about_ecej" ><br>
Um chamado para o maior EGEJ da História. Uma reflexão que transformará o ano do Movimento Empresa Júnior. Um sopro de esperança. <br><br> <h1 align="center">EGEJ 17: Qual o teu impacto?</h1></p>
            </br>
             <p class="text-justify about_ecej"> Formas de pagamento: Boleto bancário e Cartão de Crédito (PagSeguro).</p>
            <span class="mailbox-read-time pull-right">08 de julho. 2017 22:00 </span>
            <span class=" pull-left">          
            <ul class="fc-color-picker">
              <li><a href="https://www.facebook.com/EGEJ2017/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;" height="24" width="24" class=""></a> </li>
              <li> <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:block;" height="24" width="24" class=""></a></li>
              <li> <a href="mailto:coord.admfin@fejers.org.br" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;" height="24" width="24" class=""></a></li>
            </ul>
            </span>
           </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
      
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->
